/* Fonts */
$helvetica: "Helvetica";

/* Colors */
$str-black: black;
$str-white: white;
$str-dark-brown: #2b231d;
$str-brown: #bc6c25;
$str-cream: #fefae0;
$str-green: #283618;

/* Breakpoints */
$str-tablet: 768px;
$str-laptop: 1024px;
$str-desktop: 1280px;

/* Unit */
$unit: 12px;
